{:qahira/http-server        {:port 8080}
 :qahira/database           {:lifecycle     :durable
                             :adapter       "postgresql"
                             :username      "faris"
                             :password      "bluemotorinagarage"
                             :database-name "qahira"}
 :qahira/database-migration {:store         :database
                             :migration-dir "qahira/pg/migrations"}
 :qahira/auth-token-encoder {:alg :hs512 :secret "foobar"}
 :qahira/api-token-encoder  {:alg :hs512 :secret "barfoo"}
 :qahira/logger             {:level :debug}}
